body{
  font-family: 'Cinzel', serif;
}
body p{
  font-size: 14px;
}
.focus-section{
  display: flex;
}
.blue{
  color: rgb(15, 85, 177);
}
.focus{
  font-size: 40px;
}
.side-border{
  border-left: 2px solid;
  border-image: linear-gradient(rgb(84, 188, 214), rgb(154, 96, 221));
  border-image-slice: 1;
  padding-left: 15px;
}
.half-div{
  width: 50%;
  padding: 50px 100px;
}
.half-div img{
  width: 400px;
  height: 350px;
}
.blue-button{
  /* margin:auto; */
  padding:10px 30px;
  border-radius: 5px;
  background-color: rgb(15, 85, 177);
  color: white;
  text-decoration: none;
  font-size: 12px;
}