.focus-section{
  font-family: 'Cinzel', serif;
}
.mission-section{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
.develop-section{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  padding-top: 30px;
  background-image: url('./images/shapes/shape-1.png');
  background-repeat: no-repeat;
  background-size: 140px;
  /* background-position: left; */

}
.footer h1{
  font-family: 'Dancing Script', cursive;
}
.mission-section h1{
  font-weight: 900;
}
body p{
  font-size: 14px;
}
.padding{
  padding: 40px;
}
.focus-section{
  display: flex;
}
.blue{
  color: rgb(15, 85, 177);
}
.focus{
  font-size: 40px;
}
.side-border{
  border-left: 2px solid;
  border-image: linear-gradient(rgb(84, 188, 214), rgb(154, 96, 221));
  border-image-slice: 1;
  padding-left: 15px;
}
.half-div{
  width: 50%;
  padding: 50px 20px;
}
.half-div img{
  width: 480px;
  height: 350px;
  /* border: 2px solid black; */
  padding-left: 120px;
  /* margin: 50px; */
}
.blue-button{
  /* margin:auto; */
  padding:10px 30px;
  border-radius: 5px;
  background-color: rgb(15, 85, 177);
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.one-third-div{
  width: 33.33%;
  padding: 50px 50px 20px 20px;
  margin: 20px;
  border-radius: 10px;
}
.one-fourth-div{
  width: 40%;
  padding: 0px 100px 20px 0px;
  margin: 20px;
  border-radius: 10px;
}
.flexible-div{
  display: flex;
}
.mission-section img{
  height: 141px;
  width: 141px;
}
.mission-section h1{
  text-align: center;
}
#mission{
  background-color: rgb(248, 225, 182);
}
#vision{
  background-color: rgb(225, 238, 202);
  
}
#goals{
  background-color: rgb(212, 227, 240);
}
.develop-section img{
  height:400px;
  width: 400px;;
}
.develop{
  /* margin: auto; */
  /* width: 50%; */
  padding: 80px 20px 0px 20px;
}
#community-section{
  background-image: url('./images/shapes/shape-1.png');
  background-repeat: no-repeat;
  background-size: 230px;
  background-position:right;
}
.footer{
  /* border:2px solid black; */
  background-color: rgb(6, 44, 95);
  width: 100%;
  height: 150px;
  color: white;
  text-align: center;
  padding: 20px 30px;
}
